body {
 background-color: #797979;
 height:100%;
 width: 100%
}


b {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;

  }

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  }

  span {
font-family: Courier;
font-size: 40px;
  }

.personal p{
  font-size: 30px;
}

a {
color:blue;
}
a:hover {
  color:blue;
 }
a:active {
  color:darkblue;
 }

a:visited {
  color:red;
}


.wrap {
  height:100%;
  padding: 10px;
  padding-top:0;
  padding-bottom: 0;
  margin: auto;
  width:1000px;
  background-image: url(images/background.png);
}


.wrap-center {
  width: 900px;
  margin-left: 50px;
}

/*Картинки     */

.img {
height:390px;
width:100%;
}

.img-1 {

margin-top: 60px;
}

.img-2 {
margin-left: 550px;
margin-top: -70px;

}

.img-3 {
  margin-left: -30px;
margin-top: 100px;
}
.csssr {
 }

.secret {
  margin-right: 200px;
 }

.delo {
 margin-left: 350px;
 }


/*Инфо о себе     */

.personal {
  display: block;
}

.per {
  font-size: 14px;
  width: 90%;
  height: 50px;
  background-image: url(images/underline-long.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}


/* Чекбоксы    */
#checkbox {
 height:350px;
 display: inline-block;
 width:100%
}

.checkbox-column {
  font-weight: bold;
  display:inline-block;
  width:100%;
}


.p1 {
font-size: 20px;
}

.check1 {
 float:left;
 width: 250px;
 min-height:100%;
 margin-right: 40px;
}


.check2 {
 width: 250px;
 min-height:100%;
 float:left;
 margin-right: 40px;
}

.check3 {
  width: 250px;
  min-height:100%;
  float: left;
  }


/*  Джава   */
.JS {
width:100%;

}
.java-level {
  width:100%;
}

.level-line {
margin-top: 20px;
}


#slider {
width: 100%;
}

.java-block {
display: inline-block;
width:100%;
height:30px;
}


.java-block b {
  margin-left: 0px;
  font-size: 17px;
}



.java-1 {
  width:150px;
  float:left;
}
.java-2 {
    width:225px;
    float:left;
}

.java-3 {
    width:210px;
    float:left;
}
.java-4 {
width:170px;
float:right;
}








/*   О себе текст  */


.about-yourself p {
font-size: 15px;
font-size: 20px;
}



.pole {
  width:100%;
  height:200px;
}

textarea {
  width:100%;
  height:200px;
  border:none;
  font-size: 50px;
  background:transparent;
  background-image: url(images/underline-pole.png);
  background-repeat: repeat-y;
  resize:none;
}





/*  Планы на будущее   */
.plans  p {
width: 100%;
}



/*  Дата заполнения   */
.date {
  text-align: left;
    width:450px;
    height:35px;
  display:block;
  background-image: url(images/underline-short.png);
  background-repeat: no-repeat;
  background-position:right  bottom;
}

.date .date-1 p {
  font-size:25px;

}






@font-face {
font-family: Courier;
src:url(css/CourierNewRegular.ttf);
}
